*{
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-image: url("../images/cody-black-VDb0wxbfG6k-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.allLogos{
  height: auto;
  display: block;
  margin: 1em auto -4em 3em;
  width: 15em;
}

input:focus, button:focus{
  outline-color: #EB5014;
}

input[type=button]{
  display: block;
  padding: 1em 2em 1em 2em;
  border-radius: 40px;
  margin: 1em auto auto auto;
  width: 100%;
  font-size: 1.3em;
  border-color: #EB5014;
  box-shadow: -1px 6px 14px rgba(0,0,0,0.3);
  background-color: #EB5014;
  color: white;
  text-align: center;
  text-decoration: none;
}

input{
  display: block;
  padding: 1em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

textarea{
  display: block;
  padding: 1em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

form{
  max-width: 25em;
}

fieldset{
  border: none;
  margin-bottom: 3em;
}

form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color: white;
  padding: 1em;
}

legend{
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.no-js [data-button-one], .no-js [data-button-two], .no-js [data-button-three], .no-js [data-button-four], .no-js [data-button-five], .no-js [data-button-six]{
  display: none;
}

#output{
  max-width: 21em;
}

h2{
  text-align: center;
}
